*{
    margin: 0;
    padding: 0;
  }
  
  body{
    background-color: #ffedd5;
    font-family: 'Roboto',sans-serif;
  }
  ul{
    list-style: none;
  }
  header,section{
    max-width: 300px;
    margin: 0 auto;
  }
  
  section{
    margin-bottom: 24px;
  }
  header{
    text-align: center;
    padding: 32px 0;
  }
  header h1 span{
    color: #995000;
  
  }
  header h1{
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 33px;
  }
  header p{
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 67);
  }
  h2{
    background-color: #fed7aa;
    text-align: center;
    padding: 8px 16px;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 19px;
  }
  ul li{
    margin-bottom: 16px;
    display: flex;
  }
  li .detalhe{
    max-width: 240px;
  }
  .detalhe h3{
    margin-bottom: 8px;
    font-size: 16px;
    color: rgba(0, 0, 0, 6);
    line-height: 18px;
  
  }
  .detalhe p{
    font-size: 14px;
    line-height: 21px;
  }
  h1, h2, h3, .preco{
    font-family: 'Roboto Serif', serif;
    text-transform: uppercase;
    color: #202c2a;
  
    
  }
  
  